<div class="center-wreapper">
  <a href="/">
    <img src="file-hub.svg" />
  </a>
  <div class="box">
    <div class="title">
      You've received a shared
      <span *ngIf="share.IsDir" class="highlight-dir">folder</span>
      <span *ngIf="!share.IsDir" class="highlight-file">file</span>!
    </div>
    <div class="flex-col">
      <div class="row flex-grow">
        <strong class="flex-grow" title="{{ share.Name }}">{{
          share.Name
        }}</strong>
        <span class="file-size">{{ getFileSize(share.Size) }}</span>
      </div>
      <div class="flex-row align-center">
        <button class="download-btn" (click)="download()">Download</button>
      </div>
      <div class="flex-row align-center direct-link-wrapper">
        <a class="direct-link" [attr.href]="Link" (click)="copyLink($event)"
          >copy link</a
        >
      </div>
    </div>
  </div>
</div>
