.row {
  display: flex;
  padding: 1em;
}

img {
  max-width: 300px;
  margin-bottom: 1em;
}

.center-wreapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.direct-link-wrapper {
  margin-bottom: 1em;
}

.direct-link {
  text-decoration: underline;
  color: rgb(102, 102, 204);
  cursor: pointer;
}

.direct-link:hover {
  color: rgb(178, 178, 226);
}
