<div class="center-wreapper">
    <img src="file-hub.svg" />
    <div class="box">
        <div class="title">
            You've received a shared
            <span *ngIf="share.IsDir" class="highlight-dir">folder</span>
            <span *ngIf="!share.IsDir" class="highlight-file">file</span>!
        </div>
        <div class="flex-col">
            <div class="row flex-grow">
                <strong class="flex-grow" title="{{ share.Name }}">{{share.Name}}</strong>
                <span class="file-size">{{getFileSize(share.Size)}}</span>
            </div>
            <div class="flex-row align-center">
                <button class="download-btn" (click)="download()">Download</button>
            </div>
        </div>
    </div>
</div>