.file-entry {
    padding: 0.3em;
}

.file-entry span {
    margin-left: 0.3em;
}

.file-entry:hover {
    background-color: rgba(37, 176, 223, 0.507);
}

.directory {
    cursor: pointer;
}

.file-size {
    width: 100px;
    text-align: right;
    font-size: small;
}