.notification-container {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    z-index: 9999;
}

.notification {
    width: 280px;
    padding: 0.5em;
    box-shadow: -4px 0 6px rgba(192, 178, 178, 0.2);
    margin-bottom: 0.7em;
    border-radius: 0.2em;
    animation: slideInTop 0.3s ease-out forwards;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    position: relative;
}

.notification.error {
    background: rgba(241, 18, 18, 0.7);
}

.notification.success {
    background: rgba(18, 241, 55, 0.7);
}

.notification.info {
    background: rgba(141, 132, 132, 0.7);
}

@keyframes slideInTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.notification.dissapearing {
    animation: slideOutTop 0.3s ease-out forwards;
    z-index: -1;
    opacity: 0;
}

@keyframes slideOutTop {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.title {
    border-bottom: 1px white solid;
    width: 100%;
    margin-bottom: 0.5em;
}

.message {
    font-size: small;
    overflow: hidden;
    text-overflow: ellipsis;
}