<div class="box">
    <div class="title">SHARED PATHS</div>
    <div class="flex-row input-row">
        <input [(ngModel)]="insertPath" type="text" placeholder="add a shared path..." />
        <span class="material-icons" (click)="insert()">check</span>
    </div>
    <ul>
        <li *ngFor="let basePath of basePaths">
            <div class="flex-row non-edit-row" *ngIf="!basePath.edit">
                <span [title]="basePath.path" class="ellipsis">{{ basePath.path }}</span>

                <span class="flex-grow"></span>

                <span class="material-icons row-icon" (click)="edit(basePath)">edit</span>
                <span class="material-icons danger row-icon" (click)="deleteEntry(basePath)">delete</span>

            </div>
            <div class="flex-row" *ngIf="basePath.edit">
                <input [(ngModel)]="basePath.updatePath" />

                <span class="flex-grow"></span>

                <span class="material-icons row-icon" (click)="update(basePath)">check</span>
                <span class="material-icons danger row-icon" (click)="close(basePath)">close</span>
            </div>
        </li>
    </ul>
</div>