html {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffffe3;
    font-family: Consolas, 'Lucida Console', monospace;
    font-size: medium;
    user-select: none;
}

html,
body,
header,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
div,
li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul {
    list-style: none;
}

.material-icons {
    color: green;
}

.flex-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: start;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.flex-grow {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.material-icons {
    cursor: pointer;
}

input {
    background: transparent;
    color: white;
    border: none;
    padding: 0.5em 0 0.5em 0;
    border-bottom: 2px solid white;
    width: 100%;
    max-width: 270px;
}

input:focus-visible {
    outline: none;
    border-bottom-color: green;
}

.input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.danger {
    color: #ec4343cf;
}