@use 'variables' as *;

.path-segment:not(:last-child)::after {
    content: 'chevron_right';
    font-family: 'Material Icons';
    margin: 0 4px;
    vertical-align: middle;
}

.path-segment:not(:last-child):hover {
    cursor: pointer;
    color: $green;
}

.path-segment:not(:last-child) {
    padding: 0.0em;
    transition: padding 0.15s ease-in-out;
}

.path-segment:last-child {
    color: $green;
    text-decoration: underline;
}

.path-segments {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
}

header {
    padding: 1em;
    height: 60px;
}

header span {
    display: inline-block;
}

.nav {
    margin-left: 0.5em;
    cursor: pointer;
    text-decoration: none;
}

.active,
.nav:hover {
    text-decoration: underline;
    color: $green;
}

.logo {
    width: 130px;
    margin-right: 1em;
}

a > img.logo {
  display: block; 
}

@media (max-width: 600px) {
    header {
        display: flex;
        flex-wrap: wrap;
        height: 100px;
    }

    .path-segments {
        width: 100%;
        overflow-x: auto;
        order: 1;
        margin-top: 1em;
        padding-bottom: 0.6em;
    }
}