<header class="flex-row" *ngIf="showHeader">
    <img class="logo" src="file-hub.svg" />
    <div #pathSegmentsContainer class="flex-row path-segments" *ngIf="showPathSegments">
        <span *ngFor="let segment of path; let last = last" (click)="segmentChange(segment, last)"
            class="path-segment">{{
            segment.Name }}</span>
    </div>
    <span class="flex-grow"></span>
    <a class="nav" [class.active]="isActive('/')" (click)="navigate()">directories</a>
    <a class="nav" [class.active]="isActive('/admin')" routerLink="/admin">admin</a>
</header>