.path-segment:not(:last-child)::after {
    content: 'chevron_right';
    font-family: 'Material Icons';
    margin: 0 4px;
    vertical-align: middle;
}

.path-segment:not(:last-child):hover {
    color: rgb(207 13 207 / 0.85);
    cursor: pointer;
    padding: 0.4em;
    transition: padding 0.15s ease-in-out;
}

.path-segment:not(:last-child) {
    padding: 0.0em;
    transition: padding 0.15s ease-in-out;
}

header {
    padding: 1em;
    height: 60px;
}